/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Ensure it's wider for scrolling effect */
    height: 100%;
    background: url('static/images/background.jpg') repeat-x;
    animation: scrollBackground 20s linear infinite; /* Initially set to a slow speed */
}

#horseGif {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* Adjust size as needed */
    width: 20%;
    height: auto;
}

#horsepowerDisplay {
    position: absolute;
    top: 10%;  /* Adjust to move it up or down */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;  /* Adjust for desired font size */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background for better visibility */
    padding: 10px;
    border-radius: 5px;
    z-index: 10;  /* Ensures it appears on top of other elements */
}

@keyframes scrollBackground {
    0% { background-position: 0 0; }
    100% { background-position: -50% 0; }
}