<!-- idle.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horsepower Exhibit</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="background">
        <div class="idleText">
            <span>Turn the Crank</span>
            <img src="../static/images/spinner.png" alt="spinner" id="spinner">
            <span>To Generate Horsepower</span>
        </div>
        <img src="../static/images/horse_static.gif" alt="horse" id="horseIdle">
    </div>

    <script src="../static/js/script.js"></script>
</body>

</html>