<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horsepower Exhibit</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Include the Socket.IO client library -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <div id="horsepowerDisplay">Horsepower: <span id="horsepowerValue">0</span></div>
    <div class="background"></div>
    <div id="horseAnimation"></div>

    <script type="text/javascript">
        // Open a WebSocket connection to the server
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Define a handler for 'horsepower_update' messages
        socket.on('horsepower_update', function(msg) {
            document.getElementById('horsepowerValue').textContent = msg.horsepower;
        });

        // Optionally send a 'get_horsepower' message to the server to request an initial horsepower update
        socket.emit('get_horsepower');
    </script>

    <!-- Include your custom script -->
    <script src="../static/js/script.js"></script>
</body>
</html>
